body{
    text-align: center;
    background-color: lightgoldenrodyellow;
}
/************nav*********/
nav ul li{
    text-align: center;
    text-decoration: none;
    font-style: italic;
    
  }