body{
    background-color: blanchedalmond;
}

h1 h2 h3 h4{
    color: white;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

/************nav*********/
nav ul li{
    text-align: center;
    text-decoration: none;
    font-style: italic;
    
  }