body{
    color:white;
    margin: auto;
    padding: 0%;
    background-color: lightgray;

}
h1 h2{
    text-align: center;

}
img{
    width: 50%;
}

/************nav*********/
nav ul li{
   
    text-align: center;
    text-decoration: none;
    font-style: italic;
    
    
  }
  img{
    width:250%;
    height: 250%;
   }